.program {
  display: flex;
}

.program span {
  padding: 1em;
  background-color: firebrick;
  border: 1px solid yellow;
}

.program span.active {
  background-color: #F44336;
  background-image: linear-gradient(to right,firebrick 0%,firebrick var(--p,50%), #F44336 0%);
}

@media screen and (max-width: 768px) {
  .program {
    flex-direction: column;
  }
}
